@charset "UTF-8";
body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.invite-text {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
}

.list.flex {
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
}

.list {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
}

.flex {
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-right: 93px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #2196F3;
  color: #ffffff;
}

.icon {
  width: 20px;
  height: 20px;
}

.header__navigate {
  color: #212121;
  align-items: center;
  display: flex;
}

.header__container {
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__item:not(:first-child) {
  margin-left: 30px;
}

.navigate__list {
  align-items: center;
  display: flex;
}

.navigate__span {
  color: #000000;
}

.navigate__items {
  position: relative;
}
.navigate__items:not(:first-child) {
  margin-left: 50px;
}
.navigate__items:hover {
  color: #2196F3;
}
.navigate__items:focus {
  color: #2196F3;
}

.navigate__link,
.header__mail,
.header__tel {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigate__link:hover,
.header__mail:hover,
.header__tel:hover {
  color: #2196F3;
}
.navigate__link:focus,
.header__mail:focus,
.header__tel:focus {
  color: #2196F3;
}

.navigate__link--current {
  color: #2196F3;
}
.navigate__link--current::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.navigate__items,
.header__mail,
.header__tel {
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.hero {
  text-align: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
}
.hero__button {
  font-weight: 700;
  text-align: center;
  width: 216px;
  height: 50px;
}

.mode__list {
  justify-content: space-between;
}
.mode__item + .mode__item {
  margin-left: 30px;
}
.mode__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.mode__text {
  line-height: 1.7;
}
.mode__thumb {
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  fill: #212121;
}
.mode__icon {
  width: 70px;
  height: 70px;
}

.direction {
  padding-top: 0;
}
.direction__list {
  justify-content: space-between;
}
.direction__thumb {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  position: relative;
}
.direction__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.team {
  background-color: #F5F4FA;
}

.member-product__info {
  padding: 30px 0px;
}

.member-product {
  justify-content: space-between;
  display: flex;
}
.member-product__item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.member-product__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #212121;
}
.member-product__profession {
  font-size: 16px;
  line-height: 1.2;
}
.member-product__contacts {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.member-product__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-product__link:hover, .member-product__link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.customers {
  display: flex;
  justify-content: space-between;
}
.customers__contacts {
  width: 106px;
  height: 60px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.customers__item {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item:hover, .customers__item:focus {
  border-color: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__span {
  color: #ffffff;
}

.address {
  font-style: normal;
}
.address li:not(:last-child) {
  margin-bottom: 9px;
}
.address__map {
  color: #ffffff;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail, .address__tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover, .address__mail:hover, .address__tel:hover, .address__map:focus, .address__mail:focus, .address__tel:focus {
  color: #2196F3;
}

.join-in {
  margin-left: 70px;
}
.join-in__list {
  display: flex;
}
.join-in__item:not(:first-child) {
  margin-left: 10px;
}
.join-in__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-in__link:hover, .join-in__link:focus {
  background-color: #2196F3;
}

.miniform {
  margin-left: auto;
}
.miniform__mail-form {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 16px;
}
.miniform__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 62px 10px 28px;
  background-color: #2196F3;
  color: #ffffff;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.miniform__form {
  display: flex;
}
.miniform__thumb {
  position: relative;
  display: flex;
  margin-left: 12px;
}
.miniform__btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 71, 107, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* моделка-------------------------------- */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: modal-first 2500ms linear;
          animation: modal-first 2500ms linear;
  transform-origin: center center;
  opacity: 1;
}
.modal__text-invite {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.06;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
}

@-webkit-keyframes modal-first {
  0% {
    transform: scale(0) translate(-49%, -49%);
  }
  33% {
    transform: scale(0.01, 0) translate(-50%, -50%);
  }
  66% {
    transform: scale(0.01, 1) translate(-51%, -51%);
  }
  100% {
    transform: scale(1, 1) translate(-50%, -50%);
  }
}

@keyframes modal-first {
  0% {
    transform: scale(0) translate(-49%, -49%);
  }
  33% {
    transform: scale(0.01, 0) translate(-50%, -50%);
  }
  66% {
    transform: scale(0.01, 1) translate(-51%, -51%);
  }
  100% {
    transform: scale(1, 1) translate(-50%, -50%);
  }
}
.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:focus {
  fill: #2196F3;
}

.close__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  color: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover .close__icon {
  fill: #2196F3;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__item {
  position: relative;
  display: block;
}
.form__name {
  display: inline-block;
  margin-bottom: 4px;
}
.form__comment {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding: 15px 16px;
  resize: none;
}
.form__icon {
  position: absolute;
  left: 12px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__link {
  color: #2196F3;
}
.form__button {
  font-weight: 700;
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding: 15px 16px 15px 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:not(:-moz-placeholder-shown) {
  border-color: #2196F3;
}
.form__input:not(:-ms-input-placeholder) {
  border-color: #2196F3;
}
.form__input:focus-within, .form__input:not(:placeholder-shown) {
  border-color: #2196F3;
}
.form__input:not(:-moz-placeholder-shown) + .form__icon {
  fill: #2196F3;
}
.form__input:not(:-ms-input-placeholder) + .form__icon {
  fill: #2196F3;
}
.form__input:focus-within + .form__icon, .form__input:not(:placeholder-shown) + .form__icon {
  fill: #2196F3;
}

.checkbox {
  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.checkbox__icon {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__new-icon {
  border: 2px solid #212121;
  border-radius: 2px;
  width: 15px;
  height: 14px;
  margin-right: 8px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon:checked + .checkbox__new-icon {
  background-size: contain;
  background-color: #2196F3;
  background-position: center;
  border-color: #2196F3;
  background-origin: border-box;
  background-repeat: no-repeat;
}/*# sourceMappingURL=main.css.map */