

.customers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
//     @media screen and (min-width:480px) {

//  }
    @media screen and (min-width:768px) {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @media screen and (min-width:1200px) {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    // justify-content: space-between; 
    &__contacts {
        width: 106px;
        height: 60px;
    }  
}
.customers__link {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: $icon-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: $accent-color;
        fill: $accent-color;
    }
}

.customers__item {
    display: block;
    width: 210px;
    height: 92px;   
    border: 1px solid $icon-color;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width:768px) {
        width: 226px;
    }
    @media screen and (min-width:1200px) {
        width: 170px;
    }

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
    &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
        @media screen and (min-width:768px) {
            margin-bottom: 0;
        }
    }
    &:not(:nth-last-child(-n + 3)) {
        @media screen and (min-width:768px) {
            margin-bottom: 30px;
        }
        @media screen and (min-width:1200px) {
            margin-bottom: 0;
        }
    }
 
}

