

.direction {padding-top: 0;
    &__list {
        justify-content: space-between;
    }
    &__thumb {
        text-transform: uppercase; 
        font-weight: 700;
        line-height: 16px;
        position: relative;
    }
    &__text {
        @include fonts(700, 14px, 1.14);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $pure-white-color;
        text-transform: uppercase; 
        // font-weight: 700;
        // font-size: 14px;
        // line-height: 16px;
        background: $gradientblack-color;
        height: 70px;
        width:100%;
        position:absolute;
        bottom:0;
    }
}
