.header__container {
    position: relative;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    min-height: 60px;
}

.navigate__span {
    color: $pure-black-color;
}
.header__navigate {
    display: flex;
    align-items: center;
    @media screen and (max-width:767px) {
        // justify-content: center;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        // text-align: center;
        letter-spacing: 0.02em;
    }
}

