.hero {
    text-align: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    background-image: linear-gradient(90deg, $gradient-color, $gradient-color), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    max-width: 1600px;
    &__title {
        @include fonts(900, 44px, 1.4);
        color:$pure-white-color; 
        letter-spacing: 0.06em; 
        text-transform: uppercase;
        margin-bottom: 30px;
        width: 696px;
    }
    &__button { 
        font-weight: 700;
        text-align: center; 
        width: 216px;
        height: 50px;
    }
}
