.mode {
    &__list {
        justify-content: space-between;
    }
    &__item + &__item {
        margin-left: 30px;
    }
    &__subtitle {
        @include fonts(700, 14px, 1.2);
        text-transform: uppercase; 
        color: $contrast-color; 
        // font-weight: 700; 
        // font-size: 14px;
        // line-height: 1.2;
        margin-bottom: 10px;
    }
    &__text {
        line-height: 1.7;
    }
    &__thumb {
        background-color: $separation-color;
        border-radius: 4px;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        fill: $contrast-color;
    }
    &__icon {
        width: 70px;
        height: 70px;
    }
    
}