$primary-text-color: #757575;
$accent-color: #2196F3;
$contrast-color:#212121 ;
$contrast-color-gost: rgba(33, 33, 33, 0.2);
$separation-color:#F5F4FA;
$background-color:#2F303A;
$pure-black-color:#000000;
$pure-white-color:#ffffff;
$transparent-white:#FFFFFF99;
$border-color: rgba(236, 236, 236, 1);
$footer-icon-color:rgba(255, 255, 255, 0.1);
$gradient-color: rgba(47, 48, 58, 0.4);
$gradientblack-color:rgba(47, 48, 58, 0.8);
$icon-color: #AFB1B8;
$backdrop-color:rgba(27, 71, 107, 0.5);